# Dependencies
node_modules/

# Build output
.dist/
dist/
.build/
build/
.tmp/
tmp/

# Environment & secrets
.env
.env.*

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.log

# OS metadata
Thumbs.db
